@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Art Space is an application intended for artists.</p>
<p>It gives you a space to add and store art works. Art Space is a place where you could view what you have created. You can group your pictures by using tags</p>
<p>Moreover, there is also a special sticky notes where you could write your ideas, inspirations or do a To-Do List.</p>
